<!DOCTYPE html>
<html>
<!-- style nav bar, add algorithm, add back buton -->
<head>
    <!-- styles the input bar -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
	<title>Tastebuddies</title>
</head>

<body>
    <div class="wrapper">
            <!--Top Navbar-->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="cook">
                            <h3 id="tastebuddiestitle">Tastebuddies</h3>
                        </a>
                        
                        <div class="dropdown pull-right">
                            <button id="dLabel" type="button" class = "btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                                <li class="active"><a href="cook">COOK</a></li>
                                <li><a href="profile">PROFILE</a></li>
                                <li><a href="tastebuddies">TASTEBUDDIES</a></li>
                                <li><a href="help">HELP</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="index">SIGN OUT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
    <div class="container">
        <h1 class="ingredients">What are you cooking with?</h1>

        <img class="maintastebuddy" src="{{mainbuddy}}" height="120" width="100">
        <img class="speechbubble" src="img/defaulthomepage.png" height="110" width="100">
        
        <div id="inputItems">
            <form id="items-form" role="form" method="post" action="/add">
                <input type="text" class="form-control" id="addItems" placeholder="ex. chicken" required name="itemName">
                <!-- add disabled = "disabled" to input tag below to use code (disable 'ADD' until fields are nonempty) -->
                <input type="submit" class="solid" value="Add" id="addBtn">
            </form>
        </div>
        
        <div class = "text-center">
            {{#each userItems}}
            <ul>
                <li id="item">{{name}} &#10006;</li>
            </ul>
            {{/each}}
            
            <button class="submit" disabled="disabled"><a href="recipes" disabled="disabled">Submit</a></button>
        </div>
        
        <button class="help"><a href="help">?</a></button>
        
    </div>
    </div> <!-- end of wrapper div -->
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/homepage.js"></script>
</body>
</html>