<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Ryan Weng">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--CSS Stylesheets-->
        <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="css/profile.css"/>
        <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
        
        <!--Scripts go here-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        
        <title>
            Tastebuddies | Profile    
        </title>
    </head>
    
    <body>
        <div class="wrapper">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="cook">
                            <h3 id="tastebuddiestitle">Tastebuddies</h3>
                        </a>
                        
                        <div class="dropdown pull-right">
                            <button id="dLabel" type="button" class = "btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                                <li><a href="cook">COOK</a></li>
                                <li class="active"><a href="profile">PROFILE</a></li>
                                <li><a href="tastebuddies">TASTEBUDDIES</a></li>
                                <li><a href="help">HELP</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="index">SIGN OUT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--start-->
<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="{{mainbuddy}}" class="avatar img-thumbnail" alt="avatar">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Personal info</h3>
        {{#each currentuser}}
        <ul class="list-group">
            <li class="list-group-item text-right"><span class="pull-left"><strong>First Name</strong></span> {{firstname}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last Name</strong></span> {{lastname}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> {{email}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Password</strong></span> ********</li>
            
          </ul>
         {{/each}}
          <div class="col-md-8">
            <a class="btn btn-default buttonclr" href="editProfile" role="button">Edit Profile</a>
            <a class="btn btn-default buttonclr" href="tastebuddies" role="button">View Buddies</a>
            <a class="btn btn-default buttonclr bookmarked" href="bookmarked" role="button">View Bookmarked Recipes</a>
          </div>
        </div>
    </div>
  </div>
</div>

<!--end-->
</body>
</html>