<!DOCTYPE html>
<html>
<!-- style nav bar, add algorithm, add back buton -->
<head>
    <!-- styles the input bar -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/tastebuddies.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <title>Tastebuddies | Recipes</title>
</head>

<body style="overflow:hidden">
    <div class="wrapper">
        <!--Top Navbar-->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="cook">
                            <h3 id="tastebuddiestitle">Tastebuddies</h3>
                        </a>
                        
                        <div class="dropdown pull-right">
                            <button id="dLabel" type="button" class = "btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                                <li><a href="cook">COOK</a></li>
                                <li><a href="profile">PROFILE</a></li>
                                <li class="active"><a href="tastebuddies">TASTEBUDDIES</a></li>
                                <li><a href="help">HELP</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="index">SIGN OUT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
                                                        
        <!-- Header -->
        <h1>Your Tastebuddies</h1>
        <p id="description"> Tastebuddies are your friends. They help you cook and eat yummy meals. Click on the tastebuddy you want to use as your <b>Main Buddy</b>!</p>
          
        <!-- List of Tastebuddies -->
        <div class="container tastebuddylist">
        <div class="row">
            {{#each alltastebuddies}}
            <div class="col-xs-6 col-sm-4">
                <a href="#{{popup}}" class="tastebuddy project-link" data-toggle="modal"><img class="tastebuddy top unlocked" src="{{image}}">
                    <p id="tastebuddy">{{name}}</p></a>

                <br>

                <!--Info button generates information about tastebuddy-->
                <div class= "text-center">
                 <a href="#{{id}}" class="project-link" data-toggle="modal"> 
                    <button type="button" class="tastebtn"><i class="fa fa-times"></i>About</button> </a>
                </div> 
            </div>
            {{/each}}

            <!--
            <div class="col-xs-6 col-sm-4">
                <a href="#" class="tastebuddy"><img class="tastebuddy top unlocked" src="img/pandacakee.png"><p id="tastebuddy">Pandacake</p></a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="#" class="tastebuddy"><img class="tastebuddy top unlocked" src="img/mrfryingpan.png"><p id="tastebuddy">PanPan</p></a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="#" class="tastebuddy"><img class="tastebuddy unlocked" src="img/boiled egg.png"><p id="tastebuddy">Eggy</p></a>
            </div>  
            <div class="col-xs-6 col-sm-4">
                <a href="#" class="tastebuddy"><img class="tastebuddy unlocked" src="img/bearger.png"><p id="tastebuddy">Bearger</p></a>
            </div>-->
            <div class="col-xs-6 col-sm-4">
                <a href="#tastebuddy_locked" class="tastebuddyLocked project-link" data-toggle="modal"><img class="tastebuddy" src="img/pizza-locked.png"><p id="tastebuddy">Locked</p></a>

                <!--button that will lead to info page -->
                <div class= "text-center">
                 <a href="#tastebuddy_locked" class="project-link" data-toggle="modal"> 
                    <button type="button" class="tastebtn"><i class="fa fa-times"></i>About</button> </a>
                </div> 
        

            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="#tastebuddy_locked" class="tastebuddyLocked project-link" data-toggle="modal"><img class="tastebuddy" src="img/cupcake-locked.png"><p id="tastebuddy">Locked</p></a>

               <!--button that will lead to info page -->
               <div class= "text-center">
                 <a href="#tastebuddy_locked" class="project-link" data-toggle="modal"> 
                    <button type="button" class="tastebtn"><i class="fa fa-times"></i>About</button> </a>
                </div> 

            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="#tastebuddy_locked" class="tastebuddyLocked project-link" data-toggle="modal"><img class="tastebuddy bottom" src="img/pizza-locked.png"><p id="tastebuddy">Locked</p></a>

            <!--button that will lead to info page-->
            <div class= "text-center">
                 <a href="#tastebuddy_locked" class="project-link" data-toggle="modal"> 
                    <button type="button" class="tastebtn"><i class="fa fa-times"></i>About</button> </a>
            </div> 

            </div><div class="col-xs-6 col-sm-4">
                <a href="#tastebuddy_locked" class="tastebuddyLocked"><img class="tastebuddy bottom project-link" data-toggle="modal" src="img/cupcake-locked.png"><p id="tastebuddy">Locked</p></a>

           <!--button that will lead to info page-->
           <div class= "text-center">
                 <a href="#tastebuddy_locked" class="project-link" data-toggle="modal"> 
                    <button type="button" class="tastebtn"><i class="fa fa-times"></i>About</button> </a> 
            </div>
            </div>
         </div> <!--end row div-->                                                   
        </div> <!-- end container div-->
        
</div> <!-- end wrapper div -->


<!--- -->
<!--- -->
<!---Section for Pop out modal modules -->
<!--- -->
<!--- -->

 <!---Pandacakes description for Info button -->
 <div class="project-modal modal fade" id="tastebuddy_1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Pandacakes</h1>
        
                            <br>    

                            <img class="maintastebuddy" src="img/pandacakee.png" height="200" width="150">
                            
                            <br>
                            <div class = "directions">
                            <p>This is Pandacake, your first tastebuddy and your first companion to guide you through your cooking adventures.<p>
                            </div>
                            <br>

                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="project-modal modal fade" id="tastebuddy_2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Bearger</h1>
        
                            <br>

                            <img class="maintastebuddy" src="img/bearger.png" height="200" width="150">
                            
                            <br>
                            
                            
                            <div class ="directions">
                            <p>This is bearger, a gift from our developers for using this application during its beta testing. This is an exclusive buddy to add to your collection. Thank you beta tester!<p>
                            </div>

                            <br>
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="project-modal modal fade" id="tastebuddy_3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Mr. Frying Pan</h1>
        
                            <br>
                            
                            <img class="maintastebuddy" src="img/mrfryingpan.png" height="200" width="150">
                            
                            <br>
                            
                            <div class ="directions">
                            <p>This is Mr. Frying Pan, one of the developer's favorite buddy. Inspired by Allan since his favorite kitchen appliance was a frying pan. This is also a free exclusive buddy given to the first 100 users.<p>
                            </div>

                            <br>
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="project-modal modal fade" id="tastebuddy_4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Eggy</h1>
        
                            <br>

                             <img class="maintastebuddy" src="img/boiled egg.png" height="200" width="150">
                            
                            <br>
                            
                            
                            <div class = "directions">
                            <p>This is Eggy. Like the famous singer! Get it? Iggy? Eggy? Given to users who love making egg dishes.<p>
                            </div>

                            <br>
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="project-modal modal fade" id="tastebuddy_1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Pandacakes</h1>
        
                            <br>
                            
                            <h4>description</h4>
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



 <div class="project-modal modal fade" id="tastebuddy_locked" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>ITS LOCKED</h1>
     

                            <br>
                            <div class = "directions">
                            <p>This buddy is locked! Try to cook more or try more recipes to unlock this buddy!<p>
                            </div>
                            <br>

                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!------------------------------>
<!------------------------------>
<!------------------------------>
<!------------------------------>
<!---Popup when clicking on img -->
<!------------------------------>
<!------------------------------>
<!------------------------------>
<!------------------------------>


     <div class="project-modal modal fade" id="popupbuddy_1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Thanks for picking me as your MAIN BUDDY!</h1>
        
                            <br>
                            
                            <img class="maintastebuddy animated infinite tada" src="img/pandacakee.png" height="200" width="150">

    
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="popupbuddy_1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Thanks for picking me as your MAIN BUDDY!</h1>
        
                            <br>
                            
                            <img class="maintastebuddy animated infinite tada" src="img/pandacakee.png" height="200" width="150">

    
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="popupbuddy_2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Thanks for picking me as your MAIN BUDDY!</h1>
        
                            <br>
                            
                            <img class="maintastebuddy animated infinite tada" src="img/bearger.png" height="200" width="150">

    
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="popupbuddy_3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Thanks for picking me as your MAIN BUDDY!</h1>
        
                            <br>
                            
                            <img class="maintastebuddy animated infinite tada" src="img/mrfryingpan.png" height="200" width="150">

    
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="project-modal modal fade" id="popupbuddy_4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            

                            <h1>Thanks for picking me as your MAIN BUDDY!</h1>
        
                            <br>
                            
                            <img class="maintastebuddy animated infinite tada" src="img/boiled egg.png" height="200" width="150">

    
                            
                        </div>

                         <div>
                        <button type="button" class="tastebtn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/tastebuddies.js"></script>
    
</body>
</html>


