body {
    background: #D83142;
    margin-top: -50px;
    font-family: 'Candal', sans-serif;
}

.buttonclr {
    background-color: #fbbb57;
    color: white;
}

*{
    font-family: 'Candal', sans-serif;
}

h1{
    font-family: 'Candal', sans-serif;
}

h3{
    font-family: 'Candal', sans-serif;
}