/* CSS File */

/* Home Page */
.img_carousel {
    width: 100%;   
}

.lightfont {
    font-weight: lighter;
}

#myCarousel {
    width: 66.6%; 
    margin: 0 auto;
    margin-top: 20px;
}

#dLabel {
    margin-top: 10px;
    font-family: "Candal", sans-serif;
    background-color: #fbbb57;
    color: white;
}

#tastebuddiestitle {
    font-family: "Candal", sans-serif;
    position: relative;
    top: -25px;
    color: white;
}

.directions{
    font-family: "Candal", sans-serif;
    background-color: #FF6666;
    border-radius: 20px;
    margin-left: 10px; margin-right: 10px;
    padding-bottom: 1px;
    color: white;
}


/* NavBar Styling */
/*.navbar-fixed-top {
    height: 50px;
}

.navbar-fixed-bottom {
    height: 50px   
}

.navbar-fixed-top .container {
    position: relative;
    top: -40px;
}
*/
/*
.navbar_logo {
    max-width: 25%;
    min-width: 200px;
    position: relative;
    top: 32px;
}*/
/*
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #f1f1f1;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #f1f1f1;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #f7f7f7;}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}
*/
body {
    padding-top: 90px;
}

footer {
    padding-top: 50px;
}

/* General Styling */
div {
    font-family: 'Montserrat', sans-serif;
}

.center_text {
    text-align: center;   
}

.active_img_hover img:hover {
    opacity: 0.6;
    filter:alpha(opacity=60);   
}

/* Bootstrap Rows with No Gutter */
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

#back{ 
    position: relative; top: -10px; left: 10px;
    width: 70px; 
    padding: 8px 6px; 
    background-color: #FEF99D; 
    color: #CC9900;
    font-family: 'Candal', sans-serif;
    text-transform: uppercase; 
    font-weight: bold; 
    border: 1px solid #FFCC33; 
    border-radius: 5px; 

    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 0 -1px 0 #CC9900;  
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 -1px 2px rgba(255, 255, 255, 0.7), 0 -5px 0 #FFEE00, 0 -6px 0 #FFEE00;
}

.text{
    color: #fff;
    font-family: "Candal", sans-serif;
}

.tastebtn{
    position: relative; 
    margin-top: 5px;
    bottom: 5px;
    width: relative; 
    padding: 8px 6px; 
    background-color: #FEF99D; 
    color: #CC9900;
    font-family: 'Candal', sans-serif;
    text-transform: uppercase; 
    font-weight: bold; 
    border: 1px solid #FFCC33; 
    border-radius: 5px; 

    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 0 -1px 0 #CC9900;  
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), inset 0 -1px 2px rgba(255, 255, 255, 0.7), 0 -5px 0 #FFEE00, 0 -6px 0 #FFEE00;
}

a#bookmark{
    color: #CC9900;
}

a#completion{
    color: #CC9900;
}



/******************************************************************/
/******************************************************************/
/***********************Css for the modals*************************/
/******************************************************************/
/******************************************************************/

#project .project-item {
    right: 0;
    margin: 0 0 15px;
}

#project .project-item .project-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;

    
    
    
}

#project .project-item .project-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #c0dfd9;  /* Color of the project when hover**/
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#project .project-item .project-link .caption:hover {
    opacity: 1;
}

#project .project-item .project-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#project .project-item .project-link .caption .caption-content i {
    margin-top: -12px;
}

#project .project-item .project-link .caption .caption-content h3,
#project .project-item .project-link .caption .caption-content h4 {
    margin: 0;
}

#project * {
    z-index: 2;
}



.project-modal .modal-content {
    min-height: 100%;
    border: 0;
    border-radius: 10;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #D83142;
}

.project-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
    
}

.project-modal .modal-content img {
    margin-bottom: 30px;
    
}

.project-modal .modal-content .item-details {
    margin: 30px 0;
    
}

.project-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.project-modal .close-modal:hover {
    opacity: .3;
}

.project-modal .close-modal .lr {
    border:2px solid white;
    z-index: 1051;
    width: 1px;
    height: 55px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.project-modal .close-modal .lr .rl {
    border:2px solid white;
    z-index: 1052;
    width: 1px;
    height: 55px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.project-modal .modal-backdrop {
    display: none;
    opacity: 0;
    
}